<!DOCTYPE html>

<html>
<head>
    <title> GET Request test </title>
    <link rel="stylesheet" type="text/css" href="test.css"/>
</head>

<body>

    <div id = "form">
        <form method='post' action="/search">

          <!--   <p>
                <label for='name'>Subscriber Type:</label><br>
                <select name = "subscriberType" id = "subscriberType">
                    <option selected="selected">Select One</option>
                    <option>EMAIL_ADDRESS<option>PHONE_NUMBER
                </select>
            </p> -->

            <p>
                <label for='origin'>Origin:</label><br>
                <input type='text' name='origin' id='origin'>
            </p>

            <p>
                <label for='departure'>Departure Date</label><br>
                <input type='text' name='departure' id='departure'>
            </p>

            <p>
                <label for='duration'>Duration:</label><br>
                <input type='text' name='duration' id='duration'>
            </p>

            <p>
                <label for='direct'>Direct:</label><br>
                <input type='text' name='direct' id='direct'>
            </p>

            <p>
                <label for='maxPrice'>Budget:</label><br>
                <input type='text' name='maxPrice' id='maxPrice'>
            </p>

            <p>
                <label for='mode'>Aggregation Mode:</label><br>
                <input type='text' name='mode' id='mode'>
            </p>


    
            <input type='submit' value='Get the results' id='submitButton'>
            </div>

            <div id='results'></div>

        </form>
</body>
</html>
Contact GitHub API Training Shop Blog About
© 2016 GitHub, Inc. Terms Privacy Security Status Help